@font-face {
  font-family: "Roobert Light";
  src: url("https://cdn.multiversx.com/fonts/roobert/light.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/light.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/light.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Light Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/light-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/light-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/light-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Regular";
  src: url("https://cdn.multiversx.com/fonts/roobert/regular.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/regular.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/regular.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Regular Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/regular-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/regular-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/regular-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Medium";
  src: url("https://cdn.multiversx.com/fonts/roobert/medium.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/medium.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/medium.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Medium Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/medium-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/medium-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/medium-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert SemiBold";
  src: url("https://cdn.multiversx.com/fonts/roobert/semibold.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/semibold.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/semibold.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert SemiBold Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/semibold-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/semibold-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/semibold-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Bold";
  src: url("https://cdn.multiversx.com/fonts/roobert/bold.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/bold.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/bold.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Bold Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/bold-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/bold-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/bold-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Heavy";
  src: url("https://cdn.multiversx.com/fonts/roobert/heavy.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/heavy.woff") format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/heavy.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roobert Heavy Italic";
  src: url("https://cdn.multiversx.com/fonts/roobert/heavy-italic.woff2")
      format("woff2"),
    url("https://cdn.multiversx.com/fonts/roobert/heavy-italic.woff")
      format("woff"),
    url("https://cdn.multiversx.com/fonts/roobert/heavy-italic.otf")
      format("opentype");
  font-style: normal;
  font-weight: 400;
}
